@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  font-family: 'Nunito', sans-serif;
}

html,
body {
  height: 100%;
}

.container {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background: -webkit-gradient(linear, left top, right top, color-stop(-150%, #66ff99), to(#ffffff));
  background: linear-gradient(to right, #66ff99 -150%, #ffffff 100%);
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 3;
}

.container nav .burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: none;
  z-index: 1;
}

.container nav .burger .lines {
  cursor: pointer;
}

.container nav .burger .line {
  background: rgba(12, 21, 10, 0.85);
  width: 30px;
  height: 2px;
  margin: 8px;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.container nav .burger .change .line:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-7px, 9px);
          transform: rotate(-45deg) translate(-7px, 9px);
}

.container nav .burger .change .line:nth-child(2) {
  opacity: 0;
}

.container nav .burger .change .line:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-5px, -7px);
          transform: rotate(45deg) translate(-5px, -7px);
}

.container nav .mobile-nav {
  width: 100%;
  position: relative;
}

.container nav .mobile-nav .nav-list {
  list-style-type: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(-150%, #66ff99), to(#ffffff));
  background: linear-gradient(to right, #66ff99 -150%, #ffffff 100%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  position: absolute;
  top: -450px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
}

.container nav .mobile-nav .nav-list li {
  margin: 2.5rem 0;
}

.container nav .mobile-nav .nav-list li a {
  color: rgba(12, 21, 10, 0.71);
  text-decoration: none;
  font-size: 24px;
}

.container nav .mobile-nav .nav-list li a:hover {
  font-weight: 600;
}

.container nav .mobile-nav .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -40px;
  height: 100vh;
}

.container .developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 2rem 4rem 2rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(-150%, #66ff99), to(#ffffff));
  background: linear-gradient(to right, #66ff99 -150%, #ffffff 100%);
  height: 100vh;
}

.container .developer .person {
  text-align: center;
}

.container .developer .person img {
  height: 200px;
  width: 200px;
}

.container .developer .person .name {
  color: rgba(12, 21, 10, 0.85);
  font-size: 48px;
  font-weight: 400;
  padding-top: 2rem;
}

.container .developer .person .title {
  color: rgba(12, 21, 10, 0.71);
  font-size: 32px;
  text-align: left;
  font-weight: 400;
}

.container .developer .person div .mini-nav {
  display: none;
}

.container .sticky-nav {
  display: none;
  position: absolute;
  z-index: 2;
}

.container #about,
.container #skills,
.container #projects,
.container #contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem 2rem 4rem 2rem;
  height: 100vh;
}

.container #about h2,
.container #skills h2,
.container #projects h2,
.container #contacts h2 {
  border-bottom: 1px solid rgba(12, 21, 10, 0.71);
  font-weight: 400;
  color: rgba(12, 21, 10, 0.71);
  margin-bottom: 2rem;
}

.container #about p,
.container #skills p,
.container #projects p,
.container #contacts p {
  color: rgba(12, 21, 10, 0.71);
}

.container #about .about-title,
.container #about .skills-title,
.container #about .projects-title,
.container #about .contacts-title,
.container #skills .about-title,
.container #skills .skills-title,
.container #skills .projects-title,
.container #skills .contacts-title,
.container #projects .about-title,
.container #projects .skills-title,
.container #projects .projects-title,
.container #projects .contacts-title,
.container #contacts .about-title,
.container #contacts .skills-title,
.container #contacts .projects-title,
.container #contacts .contacts-title {
  font-size: 32px;
}

.container .about-description {
  line-height: 150%;
  font-size: 16px;
}

.container .about-description a {
  color: rgba(12, 21, 10, 0.85);
}

.container #skills {
  background: -webkit-gradient(linear, right top, left top, color-stop(-200%, #66ff99), to(#ffffff));
  background: linear-gradient(to left, #66ff99 -200%, #ffffff 100%);
}

.container #skills .skills-list,
.container #skills .projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container #skills .skills-list div,
.container #skills .projects-list div {
  padding: 1rem 1rem;
  text-align: center;
  width: 33.3%;
}

.container #projects {
  height: auto;
}

.container #projects .project {
  margin-bottom: 2rem;
  width: 100%;
  height: 100%;
  position: relative;
}

.container #projects .project img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-top: 4px solid #c2f1d2;
}

.container #projects .project h5 {
  font-weight: 400;
  color: rgba(12, 21, 10, 0.71);
}

.container #projects .project .onTop {
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 1rem;
  text-align: left;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(-150%, #66ff99), to(#ffffff));
  background: linear-gradient(to right, #66ff99 -150%, #ffffff 100%);
  opacity: 0;
  height: 100%;
}

.container #projects .project .onTop .work-about .title-about {
  font-size: 26px;
  height: 30px;
  text-align: center;
  color: rgba(12, 21, 10, 0.71);
}

.container #projects .project .onTop .work-about .title-about .work-description {
  background: -webkit-gradient(linear, left top, right top, color-stop(-150%, #66ff99), to(#ffffff));
  background: linear-gradient(to right, #66ff99 -150%, #ffffff 100%);
  display: none;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #66ff99 -150%, #ffffff 100%);
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container #projects .project .onTop .work-about .title-about .work-description .para-text {
  text-align: left;
  padding: 1rem;
  max-width: 400px;
}

.container #projects .project .onTop .title-about:hover .work-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container #projects .project .onTop p {
  font-size: 14px;
  color: rgba(12, 21, 10, 0.71);
}

.container #projects .project .onTop .buttons button {
  padding: 0.3rem 0;
  margin-top: 3rem;
  width: 100px;
  background-color: #fff;
  border: 1px solid rgba(12, 21, 10, 0.71);
}

.container #projects .project .onTop .buttons button a {
  text-decoration: none;
  font-size: 16px;
  color: rgba(12, 21, 10, 0.71);
  font-size: 14px;
}

.container #projects .project:hover .onTop {
  opacity: 0.95;
}

.container #contacts {
  background: -webkit-gradient(linear, left top, right top, color-stop(-150%, #66ff99), to(#ffffff));
  background: linear-gradient(to right, #66ff99 -150%, #ffffff 100%);
  text-align: center;
  padding-bottom: 12rem;
}

.container #contacts .contacts-list a {
  padding: 0 0.5rem;
  color: rgba(12, 21, 10, 0.85);
}

.container #contacts .contacts-list .social {
  margin-top: 2rem;
}

.container #contacts .contacts-list .social img {
  height: 42px;
  width: 42px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(-150%, #66ff99), to(#ffffff));
  background: linear-gradient(to right, #66ff99 -150%, #ffffff 100%);
}

footer a {
  color: rgba(12, 21, 10, 0.71);
  margin-bottom: 0.6rem;
}

@media (min-width: 768px) {
  .container #about p {
    max-width: 768px;
  }
  #projects .projects-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 768px;
  }
  #projects .projects-list .project {
    width: 45%;
    margin: 1rem 1rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 992px) {
  .container .show {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    top: 0px;
    background: white;
    z-index: 6;
  }
  .container .hide {
    visibility: hidden;
  }
  .container nav {
    padding: 0;
  }
  .container nav .burger {
    display: none;
  }
  .container .developer {
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: -webkit-gradient(linear, left top, right top, color-stop(-50%, #66ff99), color-stop(55%, #ffffff));
    background: linear-gradient(to right, #66ff99 -50%, #ffffff 55%);
  }
  .container .developer .person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .developer .person img {
    width: 250px;
    height: 250px;
    margin: 0 2.5rem;
  }
  .container .developer .person div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
  }
  .container .developer .person div .name {
    font-size: 48px;
    margin: 0 2.5rem;
  }
  .container .developer .person div .title {
    font-size: 32px;
    margin: 0 2.5rem;
  }
  .container .developer .person div .mini-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-bottom: 0.5px solid rgba(12, 21, 10, 0.71);
    margin: 0 0.5rem;
  }
  .container .developer .person div .mini-nav li {
    font-size: 16px;
    list-style: none;
    margin: 2.5rem 0rem 0.4rem 0rem;
  }
  .container .developer .person div .mini-nav li a {
    text-decoration: none;
    padding-bottom: 0.34rem;
    padding: 0 2rem 0.34rem 2rem;
    color: rgba(12, 21, 10, 0.71);
  }
  .container .developer .person div .mini-nav li a:hover {
    border-bottom: 1px solid rgba(12, 21, 10, 0.85);
  }
  .container .sticky-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .sticky-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 0.5px solid rgba(12, 21, 10, 0.71);
    margin-top: 30px;
    padding-bottom: 0.5rem;
    width: 588px;
  }
  .container .sticky-nav ul li {
    list-style: none;
    padding: 0 2rem;
  }
  .container .sticky-nav ul li a {
    text-decoration: none;
    color: rgba(12, 21, 10, 0.71);
    padding: 0.44rem 1.5rem 0.44rem 1.5rem;
  }
  .container .sticky-nav a:hover {
    border-bottom: 1px solid rgba(12, 21, 10, 0.85);
  }
  .container #about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 8rem 2rem;
  }
  .container #about .about-title {
    width: 25%;
    margin-left: 1.5rem;
    text-align: center;
  }
  .container #about .about-title h2 {
    margin-bottom: 0rem;
  }
  .container #about .about-description {
    width: 45%;
    margin-right: 1.5rem;
  }
  .container #skills {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 8rem 2rem;
    background: -webkit-gradient(linear, right top, left top, color-stop(-50%, #66ff99), color-stop(55%, #ffffff));
    background: linear-gradient(to left, #66ff99 -50%, #ffffff 55%);
  }
  .container #skills h2 {
    margin-bottom: 0rem;
  }
  .container #skills .skills-title {
    width: 25%;
    margin-right: 1.5rem;
    text-align: center;
  }
  .container #skills .skills-list {
    width: 45%;
    margin-left: 1.5rem;
  }
  .container #projects {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 8rem 2rem;
  }
  .container #projects h2 {
    margin-bottom: 0rem;
  }
  .container #projects .projects-title {
    width: 25%;
    text-align: center;
    margin-left: 1.5rem;
  }
  .container #projects .projects-list {
    width: 45%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 1.5rem;
  }
  .container #projects .projects-list .project {
    width: 42%;
    margin-bottom: 1rem;
    padding: 0 0 2rem 0;
  }
  .container #projects .projects-list .project img {
    width: 100%;
    height: 100%;
  }
  .container #projects .projects-list .project .onTop {
    z-index: 4;
  }
  .container #projects .projects-list .project .onTop .work-about .title-about {
    font-size: 18px;
  }
  .container #projects .projects-list .project .onTop .work-about .title-about .work-description {
    width: 220%;
    height: 100%;
  }
  .container #projects .projects-list .project .onTop .work-about .title-about .work-description .para-text {
    max-width: unset;
    padding-bottom: 0.5rem;
  }
  .container #projects .projects-list .project .onTop p {
    font-size: 14px;
    color: rgba(12, 21, 10, 0.71);
  }
  .container #projects .projects-list .project .onTop .buttons {
    margin-top: 1rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }
  .container #projects .projects-list .project .onTop .buttons button {
    padding: 0.3rem 0;
    margin-top: 0.5rem;
    width: 100px;
    background-color: #fff;
    border: 1px solid rgba(12, 21, 10, 0.71);
  }
  .container #projects .projects-list .project .onTop .buttons button a {
    text-decoration: none;
    font-size: 16px;
    color: rgba(12, 21, 10, 0.71);
    font-size: 14px;
  }
  .container #projects .projects-list .project .onTop .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 500px;
    margin-top: 0rem;
  }
  .container #projects .projects-list .project .onTop .inner button {
    margin: 0.1rem 0.5rem;
  }
  .container #contacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 8rem 2rem;
    background: -webkit-gradient(linear, left top, right top, color-stop(-50%, #66ff99), color-stop(55%, #ffffff));
    background: linear-gradient(to right, #66ff99 -50%, #ffffff 55%);
  }
  .container #contacts h2 {
    margin-bottom: 0rem;
  }
  .container #contacts .contacts-title {
    width: 25%;
    margin-right: 1.5rem;
    text-align: center;
  }
  .container #contacts .contacts-list {
    width: 45%;
    margin-left: 1.5rem;
  }
  .container footer {
    background: -webkit-gradient(linear, left top, right top, color-stop(-50%, #66ff99), color-stop(55%, #ffffff));
    background: linear-gradient(to right, #66ff99 -50%, #ffffff 55%);
  }
}

@media (min-width: 1200px) {
  .container .developer {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  .container .developer .person {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .developer .person img {
    width: 30%;
    height: 100%;
  }
  .container .developer .person div .name {
    font-size: 96px;
  }
  .container .developer .person div .title {
    font-size: 64px;
  }
  .container .developer .person div .mini-nav {
    margin: 0.5rem 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .developer .person div .mini-nav li {
    font-size: 24px;
  }
  .container .developer .person div .mini-nav li a {
    padding: 0 4rem 0.34rem 4rem;
  }
  .container .sticky-nav ul {
    width: 688px;
  }
  .container .sticky-nav ul li {
    font-size: 24px;
  }
  .container #about {
    padding: 8rem 0rem;
  }
  .container #about .about-title {
    font-size: 48px;
  }
  .container #about .about-description {
    font-size: 24px;
  }
  .container #skills {
    padding: 8rem 0rem;
  }
  .container #skills .skills-title {
    font-size: 48px;
  }
  .container #skills .skills-list div {
    font-size: 24px;
  }
  .container #skills .skills-list div img {
    height: 100px;
  }
  .container #projects {
    padding: 8rem 0rem;
  }
  .container #projects .projects-title {
    font-size: 48px;
  }
  .container #projects .projects-list .project {
    margin-bottom: 3rem;
  }
  .container #projects .projects-list .project h5 {
    font-size: 20px;
  }
  .container #projects .projects-list .project .onTop .work-about .title-about {
    font-size: 24px;
    margin-bottom: 1rem;
  }
  .container #projects .projects-list .project .onTop .work-about .title-about .work-description .para-text {
    width: 100%;
    padding: 0 2rem 1rem 2rem;
  }
  .container #projects .projects-list .project .onTop p {
    font-size: 18px;
  }
  .container #projects .projects-list .project .onTop .inner {
    max-width: unset;
  }
  .container #projects .projects-list .project .onTop .inner button {
    margin: 0.2rem 2rem;
  }
  .container #contacts {
    padding: 8rem 0rem;
  }
  .container #contacts .contacts-title {
    font-size: 48px;
  }
  .container #contacts .contacts-list {
    font-size: 24px;
  }
}
/*# sourceMappingURL=main.css.map */